@model Blog.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h3>@ViewBag.Title</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Set password", "SetPassword")
            }
            ]
        </dd>
    </dl>
</div>
